@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<p><a href="https://www.linkedin.com/in/mandi-howell-4116a6140/">LinkedIn</a></p>
<p>
    <a href="https://twitter.com/intent/tweet?screen_name=allst896&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to Me</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
    <span class="skype-button rounded" data-contact-id="allst896" data-text="Contact Me on Skype"></span>
    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
</p>
