@{
    ViewBag.Title = "Home Page";
}

<div class="body-content">
    @*@{ Html.RenderAction("LatestPost", "Post"); }*@

    <h3>Upgrading Knowledge</h3>
    <ul>
        <li><a href="https://github.com/allst896/portfolio/tree/master/HomeSite">GitHub: ASP.NET MVC</a></li>
    </ul>
    <h3>Acquiring Knowledge</h3>
    <ul>
        <li>Ruby on Rails: The Complete Ruby on Rails Developer Course - Udemy (<a href="http://www.mandisstation.com/">View my progress here.</a>)</li>
        <li>Elixir: <i>Programming Elixir 1.6</i></li>
    </ul>
</div>