@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Cows", "Index", "Cows")</li>
        <li>@Html.ActionLink("Bulls","Index","Bulls")</li>
        <li>@Html.ActionLink("Login","Login","Account")</li>
    </ul>
</div>
<br />
@RenderBody()