<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ticker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ticker.Properties.Settings>
            <setting name="BarchartURL" serializeAs="String">
                <value>https://ondemand.websol.barchart.com/service?wsdl</value>
            </setting>
            <setting name="BarchartAPIKey" serializeAs="String">
                <value>7dc15e2195a9ccc280f286b10584c9c5</value>
            </setting>
        </Ticker.Properties.Settings>
    </userSettings>
</configuration>