@model IEnumerable<CattleWeb.Models.Cow>

<div id="cowList">
    @*<div class="pagedList" data-cattle-target="#cowList">
        @Html.PagedListPager(Model, Page=> Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>*@

    @foreach (var item in Model)
    {
        <div>
            <div>@item.tagNumber</div>
            <div>@item.Name</div>
            <hr />
        </div>
    }
</div>
